.mainWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    flex-direction: column;
}

.formHolder{
    width: 60%;
    min-width: 800px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 20px 50px #00000030;
}

.right {
    height: 100%;
    width: 50%;
    padding: 10px;
}

.right img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.left{
    padding: 50px;
    width: 50%;
    background-image: url(../../public/liquid-cheese.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.switch span{
    font-weight: 900;
    color: var(--primary-blue);
    cursor: pointer;
}

.switch span:hover{
    opacity: 0.8;
}

@media only screen and (max-width:800px){
    .right{
        display: none;
    }

    .left{
        width: 100%;
    }

    .formHolder{
        min-width: auto;
        width: 85vw;
                background-color: transparent;
        box-shadow: none;
    }
}

@media only screen and (max-width:600px){

    .formHolder{
        width: 95vw;
    }
}

@media only screen and (max-width:400px){


    .left{
        padding: 20px;
    }

}