.heading{
    font-size: 25px;
    font-weight: 800;
}

.input{
    border: 1px solid #b4b4b4;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.tag{
    margin: 20px 0;
}

.submitBtn{
    background-color: var(--primary-blue);
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.passSwitch{
    color: #afafaf;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.errorMsg {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.passToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.errorBtn {
  background-color: red !important;
  border-color: red !important;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

.input {
  padding-left: 35px; /* space for icon */
}
